In [3]:
# Q1. What is a Database? Differentiate Between SQL and NoSQL Databases.
# A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system.

# SQL vs. NoSQL Databases
# Feature	SQL Databases	NoSQL Databases
# Structure	Relational (tables with rows and columns)	Non-relational (document, key-value, graph, column-family)
# Schema	Fixed schema	Dynamic schema
# Data Integrity	High (ACID compliance)	Varies (some are eventually consistent, others are ACID compliant)
# Scalability	Vertical scalability	Horizontal scalability
# Examples	MySQL, PostgreSQL, Oracle, SQL Server	MongoDB, Cassandra, Redis, Neo4j
# Use Case	Complex queries, transactions	Big data, real-time web apps, flexible schema
# Q2. What is DDL? Explain CREATE, DROP, ALTER, and TRUNCATE with an Example.
# Data Definition Language (DDL) is used to define, alter, and manage database structures but not the data itself.

# CREATE
# The CREATE command is used to create a new database object, such as a table.

# sql
# Copy code
# CREATE TABLE employees (
#     id INT PRIMARY KEY,
#     name VARCHAR(100),
#     department VARCHAR(100),
#     salary DECIMAL(10, 2)
# );
# DROP
# The DROP command is used to delete objects from the database.

# sql
# Copy code
# DROP TABLE employees;
# ALTER
# The ALTER command is used to modify an existing database object.

# sql
# Copy code
# ALTER TABLE employees ADD COLUMN hire_date DATE;
# TRUNCATE
# The TRUNCATE command is used to remove all records from a table, including all spaces allocated for the records.

# sql
# Copy code
# TRUNCATE TABLE employees;
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an Example.
# Data Manipulation Language (DML) is used for managing data within schema objects.

# INSERT
# The INSERT command is used to add new records to a table.

# sql
# Copy code
# INSERT INTO employees (id, name, department, salary)
# VALUES (1, 'John Doe', 'Engineering', 75000.00);
# UPDATE
# The UPDATE command is used to modify existing records in a table.

# sql
# Copy code
# UPDATE employees
# SET salary = 80000.00
# WHERE id = 1;
# DELETE
# The DELETE command is used to remove records from a table.

# sql
# Copy code
# DELETE FROM employees
# WHERE id = 1;
# Q4. What is DQL? Explain SELECT with an Example.
# Data Query Language (DQL) is used to query the database for information.

# SELECT
# The SELECT command is used to retrieve data from the database.


# SELECT name, department, salary
# FROM employees
# WHERE department = 'Engineering';
# Q5. Explain Primary Key and Foreign Key.
# Primary Key
# A Primary Key is a field in a table which uniquely identifies each row/record in that table. Primary keys must contain unique values and cannot contain NULL values.

# Foreign Key
# A Foreign Key is a field (or collection of fields) in one table, that refers to the Primary Key in another table. The table containing the foreign key is called the child table, and the table containing the candidate key is called the referenced or parent table.

# sql
# Copy code
# -- Example of Primary and Foreign Key

# CREATE TABLE departments (
#     department_id INT PRIMARY KEY,
#     department_name VARCHAR(100)
# );

# CREATE TABLE employees (
#     id INT PRIMARY KEY,
#     name VARCHAR(100),
#     department_id INT,
#     FOREIGN KEY (department_id) REFERENCES departments(department_id)
# );
# Q6. Write a Python Code to Connect MySQL to Python. Explain the cursor() and execute() Methods.
import mysql.connector

 
conn = mysql.connector.connect(
    host="localhost",
     user="root",
    password="password",
    database="company"
)

# Create a cursor object
cursor = conn.cursor()

# Use the cursor to execute a query
cursor.execute("SELECT * FROM employees")

# Fetch the results
results = cursor.fetchall()

for row in results:
    print(row)

# Close the connection
cursor.close()
conn.close()
cursor()
The execute() method exThe cursor() method crea

Q7. Order of Execution of SQL Clauses in an SQL Query
The order of execution of SQL clauses is as follows:

FROM: Tables to retrieve data from.
JOIN: Join conditions.
WHERE: Filters rows.
GROUP BY: Groups rows.
HAVING: Filters groups.
SELECT: Selects columns.
ORDER BY: Orders the results.
LIMIT: Limits the number of rows returned.
Example:

sql
Copy code
SELECT department_id, COUNT(*)
FROM employees
WHERE salary > 50000
GROUP BY department_id
HAVING COUNT(*) > 2
ORDER BY COUNT(*) DESC
LIMIT 10;

SyntaxError: invalid syntax (1331745304.py, line 128)